<div class="layout">
    <div class="table" *ngIf="dataFiltro.length > 0">
      <button mat-raised-button color="accent" [routerLink]="['..']">Atras</button>
      <mat-form-field>
        <mat-label>Filtrar por día</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="filter" (dateChange)="filterByDate($event)">
        <button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
          <mat-icon color="accent">close</mat-icon>
        </button>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <app-tabla-datos [showFilter]="false" [dataSensores]="dataFiltro"></app-tabla-datos>
    </div>
    <app-grafica [dataSensores]="dataFiltro.reverse()" *ngIf="dataFiltro.length > 0"></app-grafica>
</div>
<mat-spinner *ngIf="dataFiltro.length == 0"></mat-spinner>
